@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
    /* Colors */
    --color-one: #ffffff;
    --color-two: #774123;
    --color-three: #8e583c;
    --color-four: #a58a6a;
    --color-five: #d1c8c1;
    --color-six: #dddddd;
    --color-seven: #949090;
}

* {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    /* max-height: 100vh; */
    font-family: Poppins;
    text-decoration: none;
    color: var(--color-two);
}
title {
    display: none;
}
script {
    display: none;
}
body {
    display: block;
    justify-content: center;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
/* Landing: Start */
.container {
    display: block;
    margin: 0;
    padding: 0;
    margin-top: 160px;
    margin-bottom: 200px;
}
#main-heading {
    color: var(--color-two);
    text-align: center;
    font-family: Merriweather;
    font-weight: 600;
    font-style: italic;
    font-size: 40px;
    margin-top: -20px;
}
.landing {
    padding: 0 0 100px 0;
    margin: 0;
    border-bottom: 1px solid var(--color-six);
}

.double {
    display: block;
}
.landing-image img {
    margin: 8px;
    border-radius: 20px;
    width: 170px;
    object-fit: cover;
}
#picture-4 {
    width: 300px;
    height: auto;
}
.landing-image img:hover {
    filter: grayscale(100%);
}
.words {
    position: absolute;
    z-index: 1;
}
#preloved {
    background: var(--color-two);
    padding: 15px;
    width: 160px;
    color: var(--color-one);
    font-family: Merriweather;
    font-style: italic;
    font-weight: 700;
    border-radius: 30px;
    letter-spacing: 0.5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    transform: translate(-150px, -75px);
}
#fresh-finds {
    background: var(--color-four);
    padding: 15px;
    width: 160px;
    color: var(--color-one);
    font-family: Merriweather;
    font-style: italic;
    font-weight: 700;
    border-radius: 30px;
    letter-spacing: 0.5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    transform: translate(340px, -180px);
}
#shop-now {
    background: var(--color-one);
    padding: 15px;
    width: 160px;
    color: var(--color-two);
    font-family: Merriweather;
    font-style: italic;
    font-weight: 700;
    border-radius: 30px;
    letter-spacing: 0.5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    transform: translate(-50px, 130px);
}
.register {
    display: block;
    margin: 30px 20px 0 0;
}
#register-now {
    outline: none;
    border: none;
    background: var(--color-two);
    color: var(--color-one);
    padding: 4px 17px;
    border-radius: 20px;
    margin: 0;
}
#register-now:hover {
    transform: scale(1.02);
    cursor: pointer;
}
.shopsell {
    display: flex;
    padding: 50px 0 50px 0;
    margin: 0px;
    align-items: flex-start;
    border-bottom: 1px solid var(--color-six);
}
#shopsell {
    font-size: 30px;
    margin: 90;
}
.shopsell .images {
    display: flex;
    margin: 0;
}
.images img {
    width: 220px;
    border: 1px solid var(--color-two);
    padding: 5px;
    border-radius: 20px;
}
.bags,
.clothes,
.shoes {
    display: block;
    margin: 20px;
    font-size: 12px;
}
.images div p span {
    font-weight: 700;
}
.featured {
    display: block;
    padding: 50px 0 50px 0;
    border-bottom: 1px solid var(--color-six);
}
#featured {
    font-size: 50px;
    margin: 0;
    letter-spacing: 1px;
}
.shop {
    display: flex;
}
.product {
    display: block;
    justify-content: flex-start;
    align-self: center;
    margin: 10px;
    padding: 15px 15px 20px 15px;
    border-radius: 25px;
}
.product:hover {
    color: var(--color-one);
    background: #77402317;
    cursor: pointer;
}
.image img {
    width: 200px;
    border: 1px solid var(--color-two);
    border-radius: 20px;
}
.icons {
    flex: 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.icon-btn {
    background: none;
    border: none;
    cursor: pointer;
    position: relative;
    font-size: 20px;
    margin: 0;
    padding: 0 0 0 5px;
    visibility: hidden;
}
.heart-icon-fill,
.shopping-icon-fill {
    display: none;
}
.icon-btn:hover .heart-icon,
.icon-btn:hover .shopping-icon {
    display: none;
}
.icon-btn:hover .heart-icon-fill,
.icon-btn:hover .shopping-icon-fill {
    display: inline;
}
.non {
    visibility: hidden;
}
.nego-status {
    flex: 0 0 auto;
    text-align: left;
    margin: 10px auto 0 0;
    font-size: 13px;
}
.nego-icon-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: inline-flex;
    font-size: 13px;
    margin: 0;
}
.nego-icon-btn i {
    padding-left: 5px;
}

.nego-icon-btn:hover .ri-discuss-line {
    display: none;
}
#filled-message {
    display: none;
}
.nego-icon-btn:hover #filled-message {
    display: inline;
}
.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 5px;
}
.price-buttons {
    margin: 30px 0px 10px 0px;
    width: 200px;
}
.price-buttons p {
    margin: 0;
}
.name-product p {
    margin: 0;
    width: 200px;
    height: 40px;
    justify-content: flex-start;
    align-items: flex-start;
}
#price {
    font-size: 20px;
    font-weight: 600;
}
.faqs {
    display: flex;
    align-items: flex-start;
    font-size: 12px;
    padding: 50px 0 50px 0;
    margin-bottom: -150px;
}
.left {
    display: block;
}
.left p {
    display: block;
    width: 500px;
    align-items: flex-start;
}
.faq {
    display: block;
    justify-content: flex-end;
    text-align: left;
    margin: 0px 50px 30px 0px;
}
.question {
    font-weight: 600;
    margin: 0;
}
.answer {
    margin: 0;
}
.right {
    text-align: left;
    align-items: flex-start;
    display: block;
    margin: 0;
    padding: 0;
}
.faqs-header {
    font-size: 50px;
    font-weight: 700;
    margin: 0;
    padding: 0;
}
.one {
    margin-top: -20px;
}
.two {
    margin-top: -25px;
}
.three,
.four {
    display: none;
}
.right p {
    justify-content: flex-start;
}
.right a {
    justify-content: flex-start;
    padding: 5px 15px;
    background: var(--color-two);
    border-radius: 20px;
    width: 100px;
    color: var(--color-one);
}
.right a:hover {
    transform: scale(1.02);
}
/* Landing: Media Query */
@media (max-width: 1300px) {
    .container {
        transform: scale(0.85);
        margin-top: 0px;
        margin-bottom: 0px;
    }
}
@media (max-width: 900px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: scale(0.5);
        margin-top: -490px;
        margin-bottom: -520px;
    }
    .register {
        width: 200px;
    }
    .faqs {
        display: block;
        transform: scale(1);
        text-align: center;
        justify-content: center;
    }
    .left p {
        width: 100%;
        font-size: 20px;
        text-align: center;
        padding-left: 50px;
        margin: 0 auto;
    }
    .left {
        margin-top: 30px;
        width: 100%;
    }
    .one,
    .two {
        display: none;
    }
    .right p,
    .right a {
        text-align: center;
        justify-content: center;
        margin: 10px auto 20px;
    }
    .three,
    .four {
        display: block;
    }
}

@media (max-width: 700px) {
    .container {
        /* transform: scale(0.45); */
        margin-bottom: -350px;
        margin-top: -280px
    }
    .landing {
        margin-top: -120px;
        transform: scale(0.9);
    }
    #main-heading {
        margin: -20px 0 100px 0;
    }
    .featured {
        border-bottom: none;
        margin-bottom: 0px;
    }
    .shopsell {
        border-top: 1px solid var(--color-six);
    }
    .left {
        margin-bottom: 0px;
    }
    .right {
        margin-top: 0px;
    }
    .faqs {
        display: none;
    }
}
@media (max-width: 500px) {
    .container {
        transform: scale(0.35);
        margin-top: -620px;
        margin-bottom: -680px;
    }
    #main-heading {
        transform: scale(1);
        width: 200%;
    }
    .landing {
        transform: scale(0.75);
        margin-top: -100px;
    }
    .featured {
        margin-top: -30px;
        margin-bottom: 0px;
        transform: scale(1.3);
        padding: 150px 0;
    }
    .left {
        margin-bottom: 0px;
    }
    .shop {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        border-top: none;
    }
    .shopsell {
        display: block;
        justify-content: center;
    }
    .register {
        justify-content: center;
        margin: 0 auto;
    }
    #register-now {
        justify-content: center;
        margin: 0 auto 10px;
    }
    .faqs {
        display: none;
    }
}
/* Landing: End */

/* Footer: Start */
footer {
    background: var(--color-two);
    right: 0;
    width: 100%;
    display: block;
    justify-content: center;
    align-items: center;
    padding: 10px 200px 50px 200px;
    position: absolute;
    margin: 0;
}
footer a,
footer p {
    color: var(--color-one);
}
.footer-brand {
    justify-content: flex-start;
    align-items: center;
    margin: 50px 100px 20px 0px;
}
#footer-logo {
    width: 45px;
}
#footer-brand {
    font-family: Merriweather;
    font-weight: 600;
    font-style: italic;
    font-size: 15px;
}

.footer-proper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
    font-size: 12px;
}
.subscription {
    display: block;
}
.subscription input {
    border: none;
    outline: none;
    background: var(--color-one);
    border-radius: 20px;
    color: var(--color-two);
    padding: 10px 15px;
    font-size: 12px;
    width: 200px;
}
.ri-arrow-right-line {
    position: absolute;
    background: var(--color-two);
    border-radius: 50%;
    padding: 8px;
    transform: translate(165px, -33px);
    color: var(--color-one);
    cursor: pointer;
}
.company,
.support,
.socials {
    display: block;
    margin-left: 40px;
    text-align: left;
}
.company p,
.company a,
.support p,
.support a,
.socials p,
.socials a {
    display: block;
    text-align: left;
    justify-content: flex-start;
    align-items: flex-start;
    text-decoration: none;
    margin: 5px;
}
.wrapper p {
    font-weight: 600;
    margin-bottom: 15px;
}
.wrapper a {
    cursor: pointer;
}
/* Footer: Media Query */
@media (max-width: 900px) {
    footer {
        margin: 0;
        padding: 0px 80px 100px 80px;
    }
}
@media (max-width: 700px) {
    footer {
        margin: 0;
        padding: 0px 40px 40px 40px;
    }
    footer p {
        font-size: 7px;
        justify-content: flex-start;
        margin-left: 10px;
    }
    .footer-proper div p {
        font-size: 10px;
    }
    footer a {
        font-size: 10px;
    }
    .subscription input {
        transform: scale(0.7);
        margin-left: -20px;
    }
    .ri-arrow-right-line {
        position: absolute;
        transform: scale(0.7) translate(175px, -47px);
    }
}
@media (max-width: 500px) {
    footer p,
    .footer-proper a,
    .footer-proper p {
        justify-content: center;
        text-align: center;
        margin: 5px;
    }
    .footer-brand {
        margin: 30px 0 10px 0;
        justify-content: center;
    }
    .footer-proper {
        padding: 0;
        display: block;
        margin: 0;
    }

    #email {
        justify-content: center;
        margin: 0 auto; 
        margin-left: 50px;
    }
    .ri-arrow-right-line {
        transform: scale(0.7) translate(275px, -47px);
    }
    .wrapper {
        display: block;
    }
    .subscription,
    .company,
    .support,
    .socials {
        margin: 0;
    }
    .subscription,
    .company,
    .support {
        margin-bottom: 20px;
        justify-content: center;
    }
}
/* Footer: End */