@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    /* Colors */
    --color-one: #ffffff;
    --color-two: #774123;
    --color-three: #8e583c;
    --color-four: #a58a6a;
    --color-five: #d1c8c1;
    --color-six: #dddddd;
    --color-seven: #949090;
}

* {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
    font-family: Poppins;
    text-decoration: none;
    color: var(--color-four);
}

body {
    display: flex;
    justify-content: center;
    overflow-x: hidden;
}
/* Product: Start */
.container {
    display: flex;
    flex-direction: row;
    margin-top: 150px;
    text-align: center;
    max-width: 1200px;
    width: 100%;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.product-image {
    flex: 1;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    display: block;
}
#product-image {
    width: 400px;
    border: 1px solid var(--color-four);
    border-radius: 20px;
}
.seller-details p {
    margin: 15px;
    font-size: 13px;
}
.seller-details a {
    margin: 15px;
    font-size: 13px;
}
.seller-details i {
    padding-right: 5px;
}
.product-details {
    display: block;
    flex: 2;
    justify-content: start;
    align-items: start;
    box-sizing: border-box;
    border: 1px solid var(--color-four);
    border-radius: 20px;
    box-sizing: border-box;
    width: 700px;
    height: 450px;
    padding: 10px 25px;
}
.upper-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    width: 97%;
}

.price-and-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: -10px;
}

.price {
    flex: 0 0 auto;
    text-align: left;
    margin-right: auto;
    font-size: 22px;
    font-weight: 600;
}

.icons {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-btn {
    background: none;
    border: none;
    cursor: pointer;
    position: relative;
    font-size: 25px;
}

.heart-icon-fill,
.shopping-icon-fill {
    display: none;
}

.icon-btn:hover .heart-icon,
.icon-btn:hover .shopping-icon {
    display: none;
}

.icon-btn:hover .heart-icon-fill,
.icon-btn:hover .shopping-icon-fill {
    display: inline;
}

.checkout {
    text-align: right;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    color: var(--color-four);
    background: transparent;
    border: 1px solid var(--color-four);
}

.checkout:hover {
    color: var(--color-one);
    background: var(--color-four);
}

.product-name {
    flex: 0 0 auto;
    text-align: left;
    margin: 0 auto 0 0;
    font-weight: 700;
}
.nego-status {
    flex: 0 0 auto;
    text-align: left;
    margin: 10px auto 0 0;
    font-size: 13px;
}

.nego-icon-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: inline-flex;
    font-size: 13px;
    margin: 0;
}

.nego-icon-btn i {
    padding-left: 5px;
}

.nego-icon-btn:hover .ri-discuss-line {
    display: none;
}
#filled-message {
    display: none;
}
.nego-icon-btn:hover #filled-message {
    display: inline;
}

hr {
    border: 0.5px solid;
}
.lower-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 13px;
    margin: 0px 0px 0px 10px;
    text-align: left;
}

.lower-details p {
    margin: 0px 0px -2px 0px;
    padding: 0;
    text-align: left;
}

.description {
    flex: 0 0 auto;
    text-align: left;
    font-size: 13px;
    font-weight: 600;
    margin: 10px 0px 20px 0px;
}

.lower-details span {
    width: 90px;
    display: inline-block;
    font-style: italic;
}
.next-button,
.previous-button {
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 30px;
    justify-content: center;
    align-items: center;
}

.ri-arrow-right-circle-fill,
.ri-arrow-left-circle-fill {
    display: none;
}

.next-button:hover .ri-arrow-right-circle-line,
.previous-button:hover .ri-arrow-left-circle-line {
    display: none;
}

.next-button:hover .ri-arrow-right-circle-fill,
.previous-button:hover .ri-arrow-left-circle-fill {
    display: inline;
}
a {
    text-decoration: none;
    color: var(--color-four);
}
a:hover {
    color: var(--color-three);
}

/* Product: End */
