@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
    /* Colors */
    --color-one: #ffffff;
    --color-two: #774123;
    --color-three: #8e583c;
    --color-four: #a58a6a;
    --color-five: #d1c8c1;
    --color-six: #dddddd;
    --color-seven: #949090;
}

* {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    /* max-height: 100vh; */
    font-family: Poppins;
    text-decoration: none;
    color: var(--color-two);
}
title {
    display: none;
}
script {
    display: none;
}
body {
    display: block;
    justify-content: center;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
/* Signup: Start */
.container {
    display: block;
    margin-top: 170px;
    margin-bottom: 110px;
}
.container * {
    box-sizing: content-box;
}
.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 50px;
}

.signup-form .row-one input {
    padding: 12px 22px;
    border: none;
    outline: none;
    width: 150px;
    background: transparent;
    border: 1px solid var(--color-six);
    border-radius: 30px;
    font-size: 13px;
    color: var(--color-two);
    margin: 12px;
}

#span-first-name {
    position: absolute;
    padding: 15px 20px;
    pointer-events: none;
    font-size: 13px;
    letter-spacing: 0.5px;
    transition: 0.3s;
    transform: translate(-365px, -1px);
}

#first-name:is(:focus, :valid) ~ #span-first-name {
    padding: 0 5px;
    background: var(--color-one);
    border-radius: 2px;
    font-size: 10px;
    transform: translate(-368px, -23px);
    color: var(--color-seven);
}

#span-last-name {
    position: absolute;
    padding: 15px 20px;
    pointer-events: none;
    font-size: 13px;
    letter-spacing: 0.5px;
    transition: 0.3s;
    transform: translate(-145px, -1px);
}

#last-name:is(:focus, :valid) ~ #span-last-name {
    padding: 0 5px;
    background: var(--color-one);
    border-radius: 2px;
    font-size: 10px;
    transform: translate(-150px, -23px);
    color: var(--color-seven);
}

#span-phone-number {
    position: absolute;
    padding: 15px 20px;
    pointer-events: none;
    font-size: 13px;
    letter-spacing: 0.5px;
    transition: 0.3s;
    transform: translate(310px, -1px);
}

#phone-number:is(:focus, :valid) ~ #span-phone-number {
    padding: 0 5px;
    background: var(--color-one);
    border-radius: 2px;
    font-size: 10px;
    transform: translate(300px, -23px);
    color: var(--color-seven);
}

.signup-form .row-two input {
    padding: 12px 22px;
    border: none;
    outline: none;
    width: 370px;
    background: transparent;
    border: 1px solid var(--color-six);
    border-radius: 30px;
    font-size: 13px;
    color: var(--color-t);
    margin: 12px;
}

#span-username {
    position: absolute;
    padding: 15px 20px;
    pointer-events: none;
    font-size: 13px;
    letter-spacing: 0.5px;
    transition: 0.3s;
    transform: translate(-367px, -1px);
}

#username:is(:focus, :valid) ~ #span-username {
    padding: 0 5px;
    background: var(--color-one);
    border-radius: 2px;
    font-size: 10px;
    transform: translate(-370px, -23px);
    color: var(--color-seven);
}

#span-address-street {
    position: absolute;
    padding: 15px 20px;
    pointer-events: none;
    font-size: 13px;
    letter-spacing: 0.5px;
    transition: 0.3s;
    transform: translate(89px, -1px);
}

#address-street:is(:focus, :valid) ~ #span-address-street {
    padding: 0 5px;
    background: var(--color-one);
    border-radius: 2px;
    font-size: 10px;
    transform: translate(80px, -23px);
    color: var(--color-seven);
}

.signup-form .row-three input:nth-of-type(1) {
    padding: 12px 22px;
    border: none;
    outline: none;
    width: 370px;
    background: transparent;
    border: 1px solid var(--color-six);
    border-radius: 30px;
    font-size: 13px;
    color: var(--color-t);
    margin: 12px;
}

.signup-form .row-three input:nth-of-type(2) {
    padding: 12px 22px;
    border: none;
    outline: none;
    width: 150px;
    background: transparent;
    border: 1px solid var(--color-six);
    border-radius: 30px;
    font-size: 13px;
    color: var(--color-t);
    margin: 12px;
}

.signup-form .row-three input:nth-of-type(3) {
    padding: 12px 22px;
    border: none;
    outline: none;
    width: 150px;
    background: transparent;
    border: 1px solid var(--color-six);
    border-radius: 30px;
    font-size: 13px;
    color: var(--color-t);
    margin: 12px;
}

#span-email {
    position: absolute;
    padding: 15px 20px;
    pointer-events: none;
    font-size: 13px;
    letter-spacing: 0.5px;
    transition: 0.3s;
    transform: translate(-355px, -1px);
}

#email:is(:focus, :valid) ~ #span-email {
    padding: 0 5px;
    background: var(--color-one);
    border-radius: 2px;
    font-size: 10px;
    transform: translate(-360px, -23px);
    color: var(--color-seven);
}

#span-address-barangay {
    position: absolute;
    padding: 15px 20px;
    pointer-events: none;
    font-size: 13px;
    letter-spacing: 0.5px;
    transition: 0.3s;
    transform: translate(70px, -1px);
}

#address-barangay:is(:focus, :valid) ~ #span-address-barangay {
    padding: 0 5px;
    background: var(--color-one);
    border-radius: 2px;
    font-size: 10px;
    transform: translate(68px, -23px);
    color: var(--color-seven);
}

#span-address-city {
    position: absolute;
    padding: 15px 20px;
    pointer-events: none;
    font-size: 13px;
    letter-spacing: 0.5px;
    transition: 0.3s;
    transform: translate(293px, -1px);
}

#address-city:is(:focus, :valid) ~ #span-address-city {
    padding: 0 5px;
    background: var(--color-one);
    border-radius: 2px;
    font-size: 10px;
    transform: translate(287px, -23px);
    color: var(--color-seven);
}

.signup-form .row-four input {
    padding: 12px 22px;
    border: none;
    outline: none;
    width: 150px;
    background: transparent;
    border: 1px solid var(--color-six);
    border-radius: 30px;
    font-size: 13px;
    color: var(--color-t);
    margin: 12px;
}

#span-password {
    position: absolute;
    padding: 15px 20px;
    pointer-events: none;
    font-size: 13px;
    letter-spacing: 0.5px;
    transition: 0.3s;
    transform: translate(-368px, -1px);
}

#password:is(:focus, :valid) ~ #span-password {
    padding: 0 5px;
    background: var(--color-one);
    border-radius: 2px;
    font-size: 10px;
    transform: translate(-370px, -23px);
    color: var(--color-seven);
}

#span-confirm-password {
    position: absolute;
    padding: 15px 20px;
    pointer-events: none;
    font-size: 13px;
    letter-spacing: 0.5px;
    transition: 0.3s;
    transform: translate(-118px, -1px);
}

#confirm-password:is(:focus, :valid) ~ #span-confirm-password {
    padding: 0 5px;
    background: var(--color-one);
    border-radius: 2px;
    font-size: 10px;
    transform: translate(-130px, -23px);
    color: var(--color-seven);
}

#span-address-province {
    position: absolute;
    padding: 15px 20px;
    pointer-events: none;
    font-size: 13px;
    letter-spacing: 0.5px;
    transition: 0.3s;
    transform: translate(69px, -1px);
}

#address-province:is(:focus, :valid) ~ #span-address-province {
    padding: 0 5px;
    background: var(--color-one);
    border-radius: 2px;
    font-size: 10px;
    transform: translate(65px, -23px);
    color: var(--color-seven);
}

#span-address-zip {
    position: absolute;
    padding: 15px 20px;
    pointer-events: none;
    font-size: 13px;
    letter-spacing: 0.5px;
    transition: 0.3s;
    transform: translate(289px, -1px);
}

#address-zip:is(:focus, :valid) ~ #span-address-zip {
    padding: 0 5px;
    background: var(--color-one);
    border-radius: 2px;
    font-size: 10px;
    transform: translate(285px, -23px);
    color: var(--color-seven);
}

.shopper,
.seller {
    margin: 15px;
}

#terms-signup {
    padding-left: 5px;
    font-style: italic;
}

.signup-form .row-six {
    font-size: 12px;
}

.signup {
    outline: none;
    border: none;
    background: var(--color-two);
    color: var(--color-one);
    padding: 10px 40px;
    border-radius: 50px;
    margin: 25px 25px 10px 25px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.signup:hover {
    transform: scale(1.02);
}
.login-signup {
    font-size: 12px;
}

#login-signup {
    padding-left: 5px;
    font-weight: 700;
}
#logo-background {
    position: absolute;
    z-index: -100;
    opacity: 0.1;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* Signup: Media Query */
@media (max-width: 1300px) {
    .container {
        margin-top: 120px;
        margin-bottom: 100px;
    }
}
@media (max-width: 1200px) {
    .container {
        margin-top: 170px;
        margin-bottom: 100px;
    }
}
@media (max-width: 900px) {
    .container {
        margin-top: 220px;
        margin-bottom: 200px;
    }
    #logo-background {
        top: 50%;
    }
    .row-one {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .row-two {
        display: block;
    }
    .row-three {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    #email {
        grid-column: span 2;
    }
    .row-four {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    #span-first-name {
        transform: translate(18px, -37px);
    }
    #first-name:is(:focus, :valid) ~ #span-first-name {
        padding: 0 5px;
        background: var(--color-one);
        border-radius: 2px;
        font-size: 10px;
        transform: translate(40px, -59px);
        color: var(--color-seven);
    }
    #span-last-name {
        transform: translate(238px, -37px);
    }
    #last-name:is(:focus, :valid) ~ #span-last-name {
        padding: 0 5px;
        background: var(--color-one);
        border-radius: 2px;
        font-size: 10px;
        transform: translate(258px, -59px);
        color: var(--color-seven);
    }
    #span-phone-number {
        transform: translate(238px, 34px);
    }
    #phone-number:is(:focus, :valid) ~ #span-phone-number {
        padding: 0 5px;
        background: var(--color-one);
        border-radius: 2px;
        font-size: 10px;
        transform: translate(258px, 12px);
        color: var(--color-seven);
    }
    #span-username {
        transform: translate(20px, -60px);
    }
    #username:is(:focus, :valid) ~ #span-username {
        padding: 0 5px;
        background: var(--color-one);
        border-radius: 2px;
        font-size: 10px;
        transform: translate(40px, -65px);
        color: var(--color-seven);
    }
    #span-username {
        transform: translate(20px, -60px);
    }
    #username:is(:focus, :valid) ~ #span-username {
        padding: 0 5px;
        background: var(--color-one);
        border-radius: 2px;
        font-size: 10px;
        transform: translate(40px, -65px);
        color: var(--color-seven);
    }
    #span-address-street {
        transform: translate(20px, -60px);
    }
    #address-street:is(:focus, :valid) ~ #span-address-street {
        padding: 0 5px;
        background: var(--color-one);
        border-radius: 2px;
        font-size: 10px;
        transform: translate(40px, -65px);
        color: var(--color-seven);
    }
    #span-email {
        transform: translate(18px, -35px);
    }
    #email:is(:focus, :valid) ~ #span-email {
        padding: 0 5px;
        background: var(--color-one);
        border-radius: 2px;
        font-size: 10px;
        transform: translate(40px, -59px);
        color: var(--color-seven);
    }
    #span-address-barangay {
        transform: translate(18px, 34px);
    }
    #address-barangay:is(:focus, :valid) ~ #span-address-barangay {
        padding: 0 5px;
        background: var(--color-one);
        border-radius: 2px;
        font-size: 10px;
        transform: translate(40px, 11px);
        color: var(--color-seven);
    }
    #span-address-city {
        transform: translate(238px, 34px);
    }
    #address-city:is(:focus, :valid) ~ #span-address-city {
        padding: 0 5px;
        background: var(--color-one);
        border-radius: 2px;
        font-size: 10px;
        transform: translate(258px, 11px);
        color: var(--color-seven);
    }
    #span-password {
        transform: translate(18px, -35px);
    }
    #password:is(:focus, :valid) ~ #span-password {
        padding: 0 5px;
        background: var(--color-one);
        border-radius: 2px;
        font-size: 10px;
        transform: translate(40px, -59px);
        color: var(--color-seven);
    }
    #span-confirm-password {
        transform: translate(238px, -37px);
    }
    #confirm-password:is(:focus, :valid) ~ #span-confirm-password {
        padding: 0 5px;
        background: var(--color-one);
        border-radius: 2px;
        font-size: 10px;
        transform: translate(258px, -59px);
        color: var(--color-seven);
    }
    #span-address-province {
        transform: translate(18px, 34px);
    }
    #address-province:is(:focus, :valid) ~ #span-address-province {
        padding: 0 5px;
        background: var(--color-one);
        border-radius: 2px;
        font-size: 10px;
        transform: translate(40px, 11px);
        color: var(--color-seven);
    }
    #span-address-zip {
        transform: translate(238px, 34px);
    }
    #address-zip:is(:focus, :valid) ~ #span-address-zip {
        padding: 0 5px;
        background: var(--color-one);
        border-radius: 2px;
        font-size: 10px;
        transform: translate(258px, 11px);
        color: var(--color-seven);
    }
}
@media (max-width: 700px) {
    #logo-background {
        top: 90%;
    }
    .container {
        margin-top: 100px;
        margin-bottom: 50px;
    }
}
@media (max-width: 500px) {
    #logo-background {
        display: none;
    }
    .container {
        transform: scale(0.7);
        margin-top: -70px;
        margin-bottom: 0px;
    }
    .row-three #email {
        margin-right: 50px;
    }
    #address-barangay {
        margin-left: 50px;
    }
    #span-email {
        transform: translate(60px, -35px);
    }
    #email:is(:focus, :valid) ~ #span-email {
        padding: 0 5px;
        background: var(--color-one);
        border-radius: 2px;
        font-size: 10px;
        transform: translate(80px, -59px);
        color: var(--color-seven);
    }
    #span-address-barangay {
        transform: translate(60px, 22px);
    }
    #address-barangay:is(:focus, :valid) ~ #span-address-barangay {
        padding: 0 5px;
        background: var(--color-one);
        border-radius: 2px;
        font-size: 10px;
        transform: translate(80px, 0px);
        color: var(--color-seven);
    }
    #span-address-city {
        transform: translate(275px, 22px);
    }
    #address-city:is(:focus, :valid) ~ #span-address-city {
        padding: 0 5px;
        background: var(--color-one);
        border-radius: 2px;
        font-size: 10px;
        transform: translate(290px, 0px);
        color: var(--color-seven);
    }
    #span-confirm-password {
        transform: translate(238px, -35px);
    }
    #confirm-password:is(:focus, :valid) ~ #span-confirm-password {
        padding: 0 5px;
        background: var(--color-one);
        border-radius: 2px;
        font-size: 10px;
        transform: translate(258px, -57px);
        color: var(--color-seven);
    }
    #span-password {
        transform: translate(18px, -35px);
    }
    #password:is(:focus, :valid) ~ #span-password {
        padding: 0 5px;
        background: var(--color-one);
        border-radius: 2px;
        font-size: 10px;
        transform: translate(40px, -57px);
        color: var(--color-seven);
    }
    #span-address-province {
        transform: translate(18px, 34px);
    }
    #address-province:is(:focus, :valid) ~ #span-address-province {
        padding: 0 5px;
        background: var(--color-one);
        border-radius: 2px;
        font-size: 10px;
        transform: translate(40px, 12px);
        color: var(--color-seven);
    }
    #span-address-zip {
        transform: translate(238px, 34px);
    }
    #address-zip:is(:focus, :valid) ~ #span-address-zip {
        padding: 0 5px;
        background: var(--color-one);
        border-radius: 2px;
        font-size: 10px;
        transform: translate(258px, 12px);
        color: var(--color-seven);
    }
}
/* Signup: End */

/* Footer: Start */
footer {
    background: var(--color-two);
    right: 0;
    width: 100%;
    display: block;
    justify-content: center;
    align-items: center;
    padding: 10px 200px 50px 200px;
    position: absolute;
    margin: 0;
}
footer a,
footer p {
    color: var(--color-one);
}
.footer-brand {
    justify-content: flex-start;
    align-items: center;
    margin: 50px 100px 20px 0px;
}
#footer-logo {
    width: 45px;
}
#footer-brand {
    font-family: Merriweather;
    font-weight: 600;
    font-style: italic;
    font-size: 15px;
}

.footer-proper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
    font-size: 12px;
}
.subscription {
    display: block;
}
.subscription input {
    border: none;
    outline: none;
    background: var(--color-one);
    border-radius: 20px;
    color: var(--color-two);
    padding: 10px 15px;
    font-size: 12px;
    width: 200px;
}
.ri-arrow-right-line {
    position: absolute;
    background: var(--color-two);
    border-radius: 50%;
    padding: 8px;
    transform: translate(165px, -33px);
    color: var(--color-one);
    cursor: pointer;
}
.company,
.support,
.socials {
    display: block;
    margin-left: 40px;
    text-align: left;
}
.company p,
.company a,
.support p,
.support a,
.socials p,
.socials a {
    display: block;
    text-align: left;
    justify-content: flex-start;
    align-items: flex-start;
    text-decoration: none;
    margin: 5px;
}
.wrapper p {
    font-weight: 600;
    margin-bottom: 15px;
}
.wrapper a {
    cursor: pointer;
}
/* Footer: Media Query */
@media (max-width: 900px) {
    footer {
        margin: 0;
        padding: 0px 80px 100px 80px;
    }
}
@media (max-width: 700px) {
    footer {
        margin: 0;
        padding: 0px 40px 40px 40px;
    }
    footer p {
        font-size: 7px;
        justify-content: flex-start;
        margin-left: 10px;
    }
    .footer-proper div p {
        font-size: 10px;
    }
    footer a {
        font-size: 10px;
    }
    .subscription input {
        transform: scale(0.7);
        margin-left: -20px;
    }
    .ri-arrow-right-line {
        position: absolute;
        transform: scale(0.7) translate(175px, -47px);
    }
}
@media (max-width: 500px) {
    footer p,
    .footer-proper a,
    .footer-proper p {
        justify-content: center;
        text-align: center;
        margin: 5px;
    }
    .footer-brand {
        margin: 30px 0 10px 0;
        justify-content: center;
    }
    .footer-proper {
        padding: 0;
        display: block;
        margin: 0;
    }

    #email {
        justify-content: center;
        margin: 0 auto;
        margin-left: 50px;
    }
    .ri-arrow-right-line {
        transform: scale(0.7) translate(275px, -47px);
    }
    .wrapper {
        display: block;
    }
    .subscription,
    .company,
    .support,
    .socials {
        margin: 0;
    }
    .subscription,
    .company,
    .support {
        margin-bottom: 20px;
        justify-content: center;
    }
}
/* Footer: End */

/* Error modal */
.modal {
    border-radius: 25px;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    z-index: 1;
}

.modal-content {
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: black;
}
