* {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
}
body {
    display: grid;
    justify-content: center;
}
img {
    width: 100px;
}
.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 equal columns */
    grid-auto-rows: minmax(100px, auto); /* Adjust the minmax to your desired height */
    gap: 10px; /* Adjust the gap to your desired spacing */
}

.double {
    display: block;
}

.pciture {
    position: relative;
    width: 250px;
    height: 250px;
    background: #7c9ab6;
    overflow: hidden;
    border-radius: 20px;
    margin: 15px 15px 20px 15px;
  }